
.main{
     position: absolute;
     display: flex;
     width: 100%;
     height: 500px;
     /* background-image: url('./images/img-1.jpg'); */
     background-color: blue;
     
    
  }
  .adminlogin{
    text-align: center;
    display: block;
    background-color: blueviolet;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    margin-top:120px;
    margin-left: 200px;

  }
  .userlogin{
    text-align: center;
    background-color: brown;
    border: 1px solid gray;
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    margin-top: 120px;
    margin-left: 50px;

  }
  .divinput{
    margin-top: 10px;
    position: relative;
    width: 100%;
  }
  label{
    font-size: x-large;
  }
  .inout{
    border-radius: 10px;
    border-color: darkblue;
    color: blue;
    margin: 8px 0;
    height: 30px;
    width: 200px;
    text-align: center;

  }
  form{
    margin-top: 20px;
    margin-left:20px;
    display: inline-table;
  }
  button:hover{
    background-color: cornflowerblue;
    color: wheat;
    
  }
  button{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
  }
  .divhead{
    background-color: beige;
    color: brown;
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px;
   
    border-top-left-radius: 10px;

  }

  