.register{
    margin-left: 100px;
   width: 500px;
   
    border: 3px solid blue;
    border-radius: 20px;
}
.container{
  background-color: rgb(231, 229, 227);
   margin-left: auto;
   margin-right: auto;
    width: 700px;
    height: 700px;
    margin-top: 10px;
    text-align: center;
    
    align-items: center;
   
   
}
#operater{
    width: 50px;
}
.container >h1, .container label{
    color: cornflowerblue;
}
.div1{
    margin-top: 10px;
  text-align: center;
}
input{
    margin-right: 10px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    border-color: blue;
    text-align: center;
   
    margin-left: 10px;
   

}
button{
    color: brown;
    border-radius: 5px;
    background-color: blanchedalmond;

}