.nav{
    position: sticky;
    top: 0%;
    background-color: orange;
}
.homehover:hover{
    color: rgb(2, 10, 17);
    background-color: rgb(207, 216, 207);
    width: 60px;
    height: 30px;
    border-radius: 10px;
    text-decoration: none;
    align-items: center;
}
Link{
    text-decoration: none;
 
}
